body{
    background: #51BCF3;
    font-family: 'Trebuchet MS', sans-serif;
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 20px;
    text-align: center;
}

.box {
    padding: 2px;
    max-width: 980px;
    margin: 30px auto;
    background-color: #7ED3FF;

    --mask:
    radial-gradient(7.68px at 50% 10.80px,#000 99%,#0000 101%) calc(50% - 12px) 0/24px 51% repeat-x,
    radial-gradient(7.68px at 50% -4.8px,#0000 99%,#000 101%) 50% 6px/24px calc(51% - 6px) repeat-x,
    radial-gradient(7.68px at 50% calc(100% - 10.80px),#000 99%,#0000 101%) calc(50% - 12px) 100%/24px 51% repeat-x,
    radial-gradient(7.68px at 50% calc(100% + 4.80px),#0000 99%,#000 101%) 50% calc(100% - 6px)/24px calc(51% - 6px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

.content{
    background: #7ED3FF;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

    --mask:
    radial-gradient(7.68px at 50% 10.80px,#000 99%,#0000 101%) calc(50% - 12px) 0/24px 51% repeat-x,
    radial-gradient(7.68px at 50% -4.8px,#0000 99%,#000 101%) 50% 6px/24px calc(51% - 6px) repeat-x,
    radial-gradient(7.68px at 50% calc(100% - 10.80px),#000 99%,#0000 101%) calc(50% - 12px) 100%/24px 51% repeat-x,
    radial-gradient(7.68px at 50% calc(100% + 4.80px),#0000 99%,#000 101%) 50% calc(100% - 6px)/24px calc(51% - 6px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

ul{
    list-style-type: none;
    padding: 0;
    padding-top: 30px;
}

li{
    margin-bottom: 50px;
    padding: 15px;
    background: #9f51dc;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 10px;
    height: 40px;
}

li img{
    position: absolute;
    top: -30px;
    width: 25%;
    max-width: 100px;
}

#time_border{
    position: absolute;
    top: -30px;
    right: 10px;
    height: 25px;
    width: 150px;
    max-width: 225px;
}

li span{
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 6px;
    padding-left: 20px;
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.4);
}

li span:nth-child(2){
    position: absolute;
    top: -40px;
    right: 50px;
    font-size: 15px;
    margin-top: 6px;
    color: black;
    background-color: transparent;
    box-shadow: none;
    border-radius: 5px;
    padding: 4px;
    padding-left: 20px;
    z-index: 1;
}

li div{
    position: absolute;
    top: 10px;
    right: 50px;
    width: 40px;
    text-align: center;
    color: red;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

form{
    padding: 10px;
}
form input{
    background-color: transparent;
    float: left;
    width: 80%;
    max-width: 60vw;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-bottom: 2px solid #1477E6;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #fab6e9;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 5px solid white;
    background-image: linear-gradient(115deg, #ff6d51 10%, #ffa034 10%, #ffa034 20%, #ffe839 20%, #ffe839 30%, #a8ef3e 30%, #a8ef3e 40%, #3fc6fc 40%, #3fc6fc 50%, #ff6d51 50%, #ff6d51 60%, #ffa034 60%, #ffa034 70%, #ffe839 70%, #ffe839 80%, #a8ef3e 80%, #a8ef3e 90%, #3fc6fc 90%, #3fc6fc 100%);
    background-size: 125.00px 268.06px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    left: 10px;
    width: 100px;
    height: 50px;
    box-shadow: 0 5px #666;
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: black;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }